/*=============== Mobile ========================================*/
@media screen and (max-width: 360px) {
}
/*=============== Mobile ========================================*/
@media screen and (max-width: 480px) {
  .logo {
    font-size: 1.5rem;
  }
}

/*=============== #Option ========================================*/
@media screen and (min-width: 700px) {
}
/*=============== Tablet  ========================================*/
@media screen and (min-width: 768px) {
  .logo {
    font-size: 2rem;
  }
  .search-form-container {
  }
}
/*=============== Screen Laptop ===================================*/
@media screen and (min-width: 1024px) {
  .logo {
    font-size: 3rem;
  }
  .menu {
    position: static;
    width: 100%;
    padding: 1rem;
    background: transparent;
    opacity: 1;
    transform: scale(1);
  }
  .menu > .list {
    flex-direction: row;
  }
  .screen-lg-hidden {
    display: none;
  }
  .screen-sm-hidden {
    display: block;
  }
  .sign-up-btn {
    padding: 0.4rem;
  }
}
/*=============== #Option ===================================*/
@media only screen and (min-width: 1200px) {
}
/*=============== Laptop Large  ===================================*/
@media only screen and (min-width: 1440px) {
}
/*=============== Laptop Xtra Large =================================*/
@media only screen and (min-width: 1920px) {
  .main__container .poster {
    width: 100%;
  }
}

/* Design Model ====================================================*/
@media screen and (orientation: landscape) {
  // Styles for landscape mode.
  body::after {
    content: "Landscape";
  }
}
@media screen and (orientation: portrait) {
  // Styles for portrait mode.
  body::after {
    content: "Portrait";
  }
}
