/*=============== Mobile ========================================*/
@media screen and (max-width: 360px) {
}
/*=============== Mobile ========================================*/
@media screen and (max-width: 480px) {
}

/*=============== #Option ========================================*/
@media screen and (min-width: 700px) {
}
/*=============== Tablet  ========================================*/
@media screen and (min-width: 768px) {
  ..header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
  }
  .logo {
    width: 5rem;
  }
  .nav__menu {
    width: 23rem;
  }
}
/*=============== Screen Laptop ===================================*/
@media screen and (min-width: 1024px) {
}
/*=============== #Option ===================================*/
@media only screen and (min-width: 1200px) {
}
/*=============== Laptop Large  ===================================*/
@media only screen and (min-width: 1440px) {
}
/*=============== Laptop Xtra Large =================================*/
@media only screen and (min-width: 1920px) {
  .main__container .poster {
    width: 100%;
  }
}

/* Design Model ====================================================*/
@media screen and (orientation: landscape) {
  // Styles for landscape mode.
  body::after {
    content: "Landscape";
  }
}
@media screen and (orientation: portrait) {
  // Styles for portrait mode.
  body::after {
    content: "Portrait";
  }
}
