@media screen and (max-width: 360px) {
}

@media screen and (max-width: 480px) {
  .swiper {
    width: 450px;
  }
}

@media (min-width: 700px) {
  .form__container--inner {
    align-items: center;
  }
  .feature__content--title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
  }
  #trendingBox {
    flex-direction: row;
    align-items: center;
  }
  #trendingImgBox {
    width: 50%;
  }
  .swiper {
    width: 650px;
  }
  .newsletter__description {
    max-width: 40rem;
    font-size: 1.8rem;
    font-weight: 500;
    filter: opacity(0.5);
  }
  .form-container-inner {
    align-items: center;
  }
  .form__input {
    padding: 1rem;
    margin-right: 1rem;
  }
  #titleNews {
    font-size: 3rem;
    font-weight: 900;
    padding: 1rem;
  }
  .company__data {
    order: 0;
  }
}

@media (min-width: 768px) {
  .featured__content {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5rem repeat(4, 1fr);
  }
  .headline__banner {
    grid-column: 1 / -1;
    font-size: 1.4rem;
  }
  .featured__article {
    grid-column: 3/-1;
    grid-row: 2/4;
  }
  .featured__article--1 {
    grid-column: 1 / 3;
  }
  .featured__article--3 {
    grid-column: 1 / -1;
    grid-row: 4/6;
  }
  .older-posts .article {
    grid-template-columns: 25rem 1fr;
  }
  .featured__articles--container {
    grid-template-columns: 1fr 40rem;
  }
  #featureTitle {
    font-size: 2.2rem;
    font-weight: 800;
  }
  .article__data {
    flex-direction: column;
  }
  #articleImg {
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
  }
  .swiper {
    width: 750px;
  }
  #olderPost {
    grid-template-columns: 25rem 1fr;
  }
  .older-posts-article-image-wrapper {
    height: auto;
  }
  .footer__container {
    grid-template-columns: repeat(5, 1fr);
  }
  .company__data {
    grid-column: span 2;
  }
  .company__description {
    max-width: 85%;
  }
  .copyright__notice {
    margin-top: auto;
    color: #fff;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1024px) {
  #menuId {
    position: static;
    width: initial;
    padding: initial;
    background: transparent;
    opacity: 1;
    transform: scale(1);
  }
  #menuId > #listId {
    flex-direction: row;
  }
  #listRight {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
  }
  #screenLg {
    display: none;
  }
  #screenSm {
    display: block;
  }
  .sign-up-btn {
    padding: 4rem;
  }
  /* #listRight {
    display: flex;
    align-items: center;
  } */
  #menu-toggle-icon {
    display: none;
  }
  .featured__articles--container {
    grid-template-columns: 1fr 48rem;
  }
  #featureTitle {
    font-size: 2.8rem;
    font-weight: bold;
  }
  /* #articleData {
    flex-direction: none;
  } */
  #trendingBox {
    justify-self: center;
  }
  #trendingImgBox {
    width: 10rem;
    height: 10rem;
  }
  .swiper {
    width: 950px;
  }
  .older-posts-grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*=============== Laptop Large  ===================================*/
@media only screen and (min-width: 1440px) {
  .swiper {
    width: auto;
  }
  .featured__article {
    grid-column: 3 / -1;
  }
  .featured__article--1 {
    grid-column: 1/3;
    grid-row: 2/-1;
  }
}

@media only screen and (min-width: 1920px) {
}

@media screen and (orientation: landscape) {
  // Styles for landscape mode.
  body::after {
    content: "Landscape";
  }
}
@media screen and (orientation: portrait) {
  // Styles for portrait mode.
  body::after {
    content: "Portrait";
  }
}
