/*=========  Components =================*/
@import url("./media/mediaQuerie.css");
@import url("./component/cssComponent.css");

/*  =============== Root =================*/
root {
-/*=Color Basic=*/
  color-scheme: light dark; 
  --clr-white: #fff;
  --clr-white2: #F2F2F2;
  --clr-white3: #BFBFBF;
  --clr-white4: #fcfdfd;
  --clr-black: #000;
  --clr-black-2: #0d0d0d;
  --clr-gray: #404040; 
  --clr-primary: #ab04d9;
  --clr-secondary: #0cf2b1;
  /*= Colors UX Style =*/
  --clr-ux-one: #45214a;
  --clr-ux-two: #323050;
  --clr-ux-green2: #5d8a66;
  --clr-ux-red1: #F22248;
  --clr-ux-red2: #BF0436;
  --clr-ux-red3: #590222;
  --clr-ux-web1: #0b2f33;
  /*=Typography=*/
  --font-family-roboto: 'Roboto', sans-serif;
 --font-family-play: 'Play', sans-serif;
  /*=Font Size=*/
  --font-size-extra: 3rem;
  --font-size-title: 2.4rem;
  --font-size-Big: 1.8rem;
  --font-size-Medium: 1.6rem;
  --font-size-medium-plus: 1.5rem;
  --font-size-small: 1.2rem;
  -font-size-small-plus: 0.8rem;
  /*=Margins=*/
  --margin-top: 2rem;
  --margin-bottom: 2rem;
  --margin-left: 1rem;
  --margin-right: 1rem;
  --margin: 0 auto;
  /*=Text=*/
  --letter-spacing: 0.1rem;
  /* =  Shadows =*/
   --shadow-color: 286deg 36% 56%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
    /*========== z index ==========*/
    --z-tooltip: 10; 
    --z-fixed: 100; 
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
}

/* ===============  Css Style General ===========================*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
/* =Animation =*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
img {
  /*   width: 100%;
    height: 100%; */
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    object-fit: cover;
}
p, span {
    letter-spacing: 0.1rem;
}
i {
    font-size:  1.8rem;
}
/*Button == Normal e Oscuro*/
body {
    width: 100%;
  /*   background-color:  #131417;
    color: #fff; */
   
    transition: background-color .25s,  color .25s;
}
/* Theme color change */
body.light-them {
    background-color: #fff;
    color: #131417;   
}

/*== Project ==*/
.header {
    /* outline: 2px solid black; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #2d2d2d;
}
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}
.logo {
  font-size: 2.4rem;
  color: #f2f2f2;
  font-family: var(--font-family-play);
  font-weight: 900;
}
.menu {
  outline: #131417 2px solid;
  position: absolute;
  top: 8.5rem; 
right: 1.5rem;
width: 23rem;
padding: 1.5rem;
border-radius: 1rem;
background-color: #252830;
opacity: 0;
transform: scale(0);
transition:  opacity .25s ease-in;
}
.menu  >  .list {
  flex-direction: column;
}
.menu .list {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.list-item {
  padding: .5rem;
}
.list-link {
  font-size: 1.6rem;
  color: rgb(131, 131, 131);
/*   filter: opacity(0.2); */
}
.list-link:active {
  transform: scale(0.9);
}
.list-link .current {
  color: #f2f2f2;
}
/*Work Javascript*/
.close-menu-icon {
  display: none;
}
.moon-icon {
  display: none;
}
.moon-icon .light-theme {
  display: block;
}
.sun-icon .light-theme {
  display: none;
}

/*Color Icon ==*/
.list-link:hover, .btn:hover, .btn:hover span {
  color: #fff;
}

/*= =====  Javascript Work Header= =======*/
.header.activated {
  box-shadow: 0 1px  .5rem  rgba(255,255,255,.05);
/*   box-shadow: 5px 15px  1rem  #2d2d2d; */
}
.menu.activated {
  box-shadow: 1px 1px 1px rgba(255,255,255,.05);
  opacity: 1;
  transform: scale(1);
}
.menu-toggle-icon.activated .open-menu-icon {
  display: none;
}
.menu-toggle-icon.activated .close-menu-icon {
  display: block;
}

/* Search*/
.search__form--container {
  width: 100%;
  position: fixed;
  z-index: 9999;
  max-width: 100%;
  height: 100vh;
  background-color: #131417;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  transform: scale(0);
  transition: opacity .5s;
}
.form__container--inner {
  margin: auto;
  display: flex;
  flex-direction: column; 
  gap: 1rem;
  text-align: center;
}
.form {
  display: flex;
  justify-content: center;
}
.form-input,  .form-btn {
display: inline-block;
outline: none;
border: 2px solid #252830;
padding: 1.5rem;
color: #f2f2f2;
}
.form-input {
  border-right: none;
  width: 100%;
  background-color: #131417;
}
.form-btn {
  margin-left: -.5rem;
  border-left: none;
  background-color: #252830;
  text-transform: uppercase;
  width: 8rem;
}
.form-note {
  font-size: 1.6rem;
  align-self: flex-end;
}
.form-close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: 2px solid #252830;
  width: 4rem;
  height: 4rem;
  display: flex;
}
/* Form JavaScript styles */
.search__form--container.activated {
opacity: 1;
transform: scale(1);
}

/* Featured articles */
.featured__articles {
  padding-block: 2rem;
}